<div class="border-right" id="sidebar-wrapper">
	<div class="sidebar-heading text-center">
		<img src="{{ url_for('static', filename='images/Crypto Logo.png') }}" alt=""
			class="my-4 logo-crypto" />
	</div>
	<div class="list-group list-group-flush">
		<a href="{{ url_for('vigenere') }}" class="list-group-item list-group-item-action {{ 'active' if active_page == 'vigenere'}}"> Vigenere Cipher </a>
		<a href="{{ url_for('autoKeyVigenere') }}" class="list-group-item list-group-item-action {{ 'active' if active_page == 'key_vigenere'}}"> Auto-key Vigenere Cipher </a>
		<a href="{{ url_for('fullKeyVigenere') }}" class="list-group-item list-group-item-action {{ 'active' if active_page == 'full_vigenere'}}"> Full Vigenere Cipher </a>
		<a href="extended-vigenere.html" class="list-group-item list-group-item-action {{ 'active' if active_page == 'extended_vigenere'}}"> Extended Vigenere Cipher </a>
		<a href="{{ url_for('playfair') }}" class="list-group-item list-group-item-action {{ 'active' if active_page == 'playfair'}}"> Playfair Cipher </a>
		<a href="affine.html" class="list-group-item list-group-item-action {{ 'active' if active_page == 'affine'}}">Affine Cipher </a>
		<a href="hill.html" class="list-group-item list-group-item-action {{ 'active' if active_page == 'hill'}}">Hill Cipher </a>
	</div>
</div>